
.blur{
	background:url(../images/background.jpg);
  	background-size:cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position:absolute;
    width:100%;
    height:100%;
    z-index:-5;
}


/* navbar */
.navbar-default {
    background-color: #3BB9FF	;
    border: 0px;
    border-radius: 0px;
    box-shadow: 2px 2px 3px 4px rgba(36, 32, 82, 0.44);
    color:white;
}

.panel-primary > .panel-heading {
    color: #fff;
background-color: #3BB9FF;
    

}
.panel-primary  {
box-shadow: 0px 10px 10px 0px rgba(223, 236, 70, 0.17);
border-color:transparent;
}
.panelCustom {
  box-shadow:0px 10px 10px 0px rgba(0, 171, 252, 0.44)
}

.hover:hover {
    color:yellow;
}

/* title */
.navbar-default .navbar-brand {
    color: white;
}


.navbar-default .navbar-nav > .active > a {
	background-color:#428bca;
    color: white;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color:#428bca;
    color: white;
}


.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default  .navbar-text
{
	color:white;
}

.container
{
	width:50%;
	height:25em;
}

    .square {
                            content:"";
                            display:block;
                            position:relative;
                            top:0;
                            left:0;
                            width:50%;
                            height:30em;
                            background: linear-gradient(rgba(49,174,241,0.5) 0%, transparent 0%), linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff linear-gradient(45deg, #ffffff 33.33%, rgba(49,174,241,0.5) 33.33%) 0 0%;
                            background: -webkit-linear-gradient(rgba(49,174,241,0.5) 0%, transparent 0%), -webkit-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -webkit-linear-gradient(45deg, #ffffff 33.33%, rgba(49,174,241,0.5) 33.33%) 0 0%;
                            background: -o-linear-gradient(rgba(49,174,241,0.5) 0%, transparent 0%), -o-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -o-linear-gradient(45deg, #ffffff 33.33%, rgba(49,174,241,0.5) 33.33%) 0 0%;
                            background: -moz-linear-gradient(rgba(49,174,241,0.5) 0%, transparent 0%), -moz-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -moz-linear-gradient(45deg, #ffffff 33.33%, rgba(49,174,241,0.5) 33.33%) 0 0%;
                            background-repeat: repeat-x;
                            background-size: 11px 100%, 15% 30%, 15% 30%;
                            }