.box
{
margin: 10px;
padding: 20px;
text-align:center;
display:inline-block; 

background: #7F7F7F;
font-size:5em;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}
body {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
  background-image: -webkit-linear-gradient(top, #ffffff, #999999);
  background-image:    -moz-linear-gradient(top, #ffffff, #999999);
  background-image:      -o-linear-gradient(top, #ffffff, #999999);
  background-image:         linear-gradient(to bottom, #ffffff, #999999);

    background-repeat: no-repeat;
    background-attachment: fixed;
}